<div class="generalResultados">
    <h1>HOTELES ENCONTRADOS</h1>
    <table *ngFor="let hotel of resultadoService.$hotelesEnsenar">
        <tr>
            <td><p>{{hotel.nombre}}</p><p>{{hotel.categoria}}</p></td>
            <td><p>Precio</p></td>
            <td><p>Cama</p></td>
            <td><p>Capacidad</p></td>
            <td><p>Extras</p></td>
        </tr>
        <tr *ngFor="let habitacion of hotel.tiposHabitacion">
            <td><img src="{{habitacion.imagen}}"></td>
            <td><p>{{habitacion.precio}} €</p></td>
            <td><p>{{habitacion.tipoHabitacion.camas}}</p></td>
            <td><p>{{habitacion.tipoHabitacion.capacidad}}</p></td>
            <td>
                <tr *ngFor="let extras of habitacion.tipoHabitacion.complementos.nombre" >
                    <td ><p>{{extras}}</p></td>
                </tr>
            </td>
        </tr>
    </table>
</div>