.titulo{
    background:black; 
    color:rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("http://pluspng.com/img-png/trivago-png-open-2000.png");
    
     
     background-position: 470px;
   
}
.titulo2{
    
   
    background:rgb(177, 226, 216); 
    border: 1px solid #000;
    color:rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
   
}
