<h1 class="titulo">CARACTERISTICAS HOTELES</h1>
<div class="contenedorGeneral">
  <tr style="text-align: center">
    <th>Categoria</th>
    <th>Camas</th>
    <th>Capacidad</th>


  </tr>
  <tr style="text-align: center">

    <td> <select class="combo" name="categoria" [(ngModel)]="seleccionCategoria">
        <option value="" selected>Selecciona</option>
        <option *ngFor="let categoria of arrayCategoria" value="{{arrayCategoria.indexOf(categoria)}}"> {{categoria}}
        </option>
      </select>
    </td>

    <td> <select class="combo" name="cama" [(ngModel)]="seleccionCama">
        <option value="">Selecciona</option>
        <option *ngFor="let cama of arrayCama" value="{{arrayCama.indexOf(cama)}}"> {{cama}}
        </option>
      </select>
    </td>
    <td> <select class="combo" name="capacidad" [(ngModel)]="seleccionCapacidad">
        <option value="">Selecciona</option>
        <option *ngFor="let capacidad of arrayCapacidad" value="{{arrayCapacidad.indexOf(capacidad)}}"> {{capacidad}}
        </option>
      </select>
    </td>

  </tr>

  <div class="contenedorPrecio">
    <h3>Precio máx.<input class="inputPrecio" [(ngModel)]=precioMin> </h3>
    <h3>Precio mín.<input class="inputPrecio" [(ngModel)]=precioMax> </h3>
    <div *ngIf="precioMin<precioMax">

      <div class="price-slider">
        <input [(ngModel)]="precioMin" min="0" max="1000" step="1" type="range" class="slider">
        <input [(ngModel)]="precioMax" min="0" max="1000" step="1" type="range" class="slider">
      </div>
    </div>
    <div *ngIf="precioMin>=precioMax">

      <div class="price-slider">
        <input [(ngModel)]="precioMax" min="0" max="1000" step="1" type="range" class="slider">
        <input [(ngModel)]="precioMin" min="0" max="1000" step="1" type="range" class="slider">
      </div>

    </div>
    <td>
      <div class="contenedorComplementos">
        <ng-template ngFor let-extras [ngForOf]="arrayExtras" let-i="index">
          <p><input [(ngModel)]="extrasHtml[i]" class="check-complementos" type="checkbox">{{extras}}</p>
        </ng-template>
      </div>
    </td>
  </div>
</div>
<br>
<div class="contenedorbotonBucar">

  <button class="botonBuscarHotel" (click)="updatePriceLabels()">BUSCAR HOTELES</button>
</div>