
<h1>CARACTERISTICAS MOVILES</h1>
<tr style="text-align: center">
  <th>Categoria</th>
  <th>Camas</th>
  <th>Capacidad</th>
 
</tr>
<tr style="text-align: center">

  <td> <select class="combo" name="categoria" [(ngModel)]="seleccionCategoria">
      <option value="">Selecciona</option>
      <option *ngFor="let categoria of arrayCategoria" value="{{arrayCategoria.indexOf(categoria)}}"> {{categoria}}
      </option>
    </select>
  </td>

  <td> <select class="combo"name="cama" [(ngModel)]="seleccionCama">
    <option value="">Selecciona</option>
    <option *ngFor="let cama of arrayCama" value="{{arrayCama.indexOf(cama)}}"> {{cama}}
    </option>
  </select>
</td>
<td> <select class="combo" name="capacidad" [(ngModel)]="seleccionCapacidad">
  <option value="">Selecciona</option>
  <option *ngFor="let capacidad of arrayCapacidad" value="{{arrayCapacidad.indexOf(capacidad)}}"> {{capacidad}}
  </option>
</select>
</td>
<div *ngIf="precioMin<precioMax">
    <p>Precio minimo <input [(ngModel)]=precioMin> €</p>
    <p>Precio maximo <input [(ngModel)]=precioMax> €</p>
    <div class="price-slider">
        <input [(ngModel)]="precioMin" min="0" max="1000" step="1" type="range">
        <input [(ngModel)]="precioMax" min="0" max="1000" step="1" type="range">
    </div>
</div>
<div *ngIf="precioMin>=precioMax">
    <p>Precio minimo <input [(ngModel)]=precioMax> €</p>
    <p>Precio maximo <input [(ngModel)]=precioMin> €</p>
    <div class="price-slider">
        <input [(ngModel)]="precioMax" min="0" max="1000" step="1" type="range">
        <input [(ngModel)]="precioMin" min="0" max="1000" step="1" type="range">
    </div>

</div>
<button (click)="updatePriceLabels()">Pulsa</button> 

